In [1]:
import pandas as pd
import numpy as np #con esto tienes el scroll que te faltaba antes
import os

# Ruta de la carpeta que contiene los archivos CSV
carpeta = r"C:\Users\arzua\OneDrive\Escritorio\caracterizacion\PTU"

# Lista para almacenar los DataFrames de cada archivo CSV
dataframes = []

# Iterar sobre los archivos en la carpeta
for archivo in os.listdir(r"C:\Users\arzua\OneDrive\Escritorio\caracterizacion\PTU"):
    if archivo.endswith('.CSV'):  # Asegúrate de que sean archivos CSV
        # Construye la ruta completa al archivo
        ruta_completa = os.path.join(carpeta, archivo)
        
        # Lee el archivo CSV y crea un DataFrame
        df = pd.read_csv(ruta_completa,encoding='latin1')
        
        # Almacena el DataFrame en la lista
        dataframes.append(df)

# Concatena todos los DataFrames en uno solo
df = pd.concat(dataframes, ignore_index=True)

# Ahora tienes un solo DataFrame que contiene los datos de todos los archivos CSV en la carpeta
print(df.head(20))  # Imprime las primeras filas del DataFrame completo
df.info()

        Date     Time     TA1   RH1     DP1     PA1  PRSUM1
0        NaN      NaN      °C     %      °C     hPa      mm
1   1.1.2018   0:1:29    15.8    73    10.9  1031.5    0.00
2   1.1.2018   0:2:32    15.8    73    11.0  1031.5    0.00
3   1.1.2018   0:4:32    15.8    73    11.0  1031.4    0.00
4   1.1.2018  0:13:29    15.7    73    10.9  1031.4    0.00
5   1.1.2018  0:24:32    15.6    73    10.8  1031.3    0.00
6   1.1.2018  0:30:32    15.5    73    10.8  1031.3    0.00
7   1.1.2018  0:34:32    15.5    73    10.8  1031.4    0.00
8   1.1.2018  0:36:32    15.5    74    10.8  1031.4    0.00
9   1.1.2018  0:38:32    15.5    73    10.8  1031.4    0.00
10  1.1.2018  0:40:32    15.5    74    10.8  1031.4    0.00
11  1.1.2018  0:42:32    15.4    74    10.7  1031.4    0.00
12  1.1.2018  0:46:32    15.4    74    10.7  1031.3    0.00
13  1.1.2018  0:49:29    15.3    74    10.6  1031.3    0.00
14  1.1.2018  0:52:32    15.3    74    10.7  1031.3    0.00
15  1.1.2018  0:54:32    15.3    74    10.6  1031.3    0.00
16  1.1.2018  0:57:29    15.2    74    10.5  1031.2    0.00
17  1.1.2018  0:58:32    15.2    74    10.6  1031.2    0.00
18  1.1.2018   1:0:32    15.1    74    10.5  1031.2    0.00
19  1.1.2018   1:2:32    15.1    74    10.5  1031.1    0.00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83635 entries, 0 to 83634
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    83423 non-null  object
 1   Time    83423 non-null  object
 2   TA1     83441 non-null  object
 3   RH1     83441 non-null  object
 4   DP1     83441 non-null  object
 5   PA1     83441 non-null  object
 6   PRSUM1  83440 non-null  object
dtypes: object(7)
memory usage: 4.5+ MB

In [10]:
#comprueba que falta valores de temperatura:
df.to_csv('comprueba_temperatura.csv', index=False)

In [ ]:
#quita la media cabecera tb... o no la incluyas

In [2]:
#hay problemas para convertir todos los valores de TA1 a numeros
#posiblemente sean cabeceras.
#elimina las filas de todas las columnas de los valores de TA1 que no puedas convertir

#fuerza la conversion y vuelve nan los que no se pueda.

#eso deberia ayudar con date y time combinacion
df['TA1'] = pd.to_numeric(df['TA1'], errors='coerce')

df.info()
#es necesario tirar los nan de las filas en las columnas de fecha time y TA1
#He anhadido la lluvia tb porque solo tenia una fila mas.

df= df.dropna()
#une las columnas Date y Time y vuelvelas tipo datetime

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83635 entries, 0 to 83634
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    83423 non-null  object
 1   Time    83423 non-null  object
 2   TA1     83216 non-null  float64
 3   RH1     83441 non-null  object
 4   DP1     83441 non-null  object
 5   PA1     83441 non-null  object
 6   PRSUM1  83440 non-null  object
dtypes: float64(1), object(6)
memory usage: 4.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 83215 entries, 1 to 83633
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    83215 non-null  object
 1   Time    83215 non-null  object
 2   TA1     83215 non-null  float64
 3   RH1     83215 non-null  object
 4   DP1     83215 non-null  object
 5   PA1     83215 non-null  object
 6   PRSUM1  83215 non-null  object
dtypes: float64(1), object(6)
memory usage: 5.1+ MB

In [3]:
#convierte en datetime las dos columnas
#estoy hay que hacerlo despues de tirar las filas con encabezados... 
#o no.creo que antes de cambiar el timpo de cadena a datetime
df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'],dayfirst=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83215 entries, 1 to 83633
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      83215 non-null  object
 1   Time      83215 non-null  object
 2   TA1       83215 non-null  float64
 3   RH1       83215 non-null  object
 4   DP1       83215 non-null  object
 5   PA1       83215 non-null  object
 6   PRSUM1    83215 non-null  object
 7   datetime  83215 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 5.7+ MB

In [ ]:
#agrupar en intervalos de 10 min

#no las convierta antes de unirlas en una sola porque hace falta que sean cadenas.
#y hacen falta que sean cadenas convertibles a datatime y desechar als que no.

# Convertir la columna 'datetime' al formato datetime si aún no lo está
#df['datetime'] = pd.to_datetime(df['datetime'], format='%d/%m/%Y %H:%M:%S')

In [ ]:

# Luego, establecer 'datetime' como el índice del DataFrame si aún no lo es
#df.set_index('datetime', inplace=True)

In [ ]:
df

In [ ]:


# Tornar en indice



#df.set_index('datetime', inplace=True)

In [ ]:

# Ahora agrupar los datos en intervalos de 10 minutos y calcular la media de 'TA1'
#df_agrupado = df.groupby(pd.Grouper(freq='10Min')).agg({'TA1': 'mean'}).reset_index()

In [ ]:
#print(df_agrupado.head())
#df_agrupado.info()

In [ ]:
#llevatelo
#df_agrupado.to_csv('temperatura.csv', index=False)

In [ ]:
#df_agrupado.info()

In [ ]:
#problemas que he tenido. 
#1 necesitas que el datetime tenga ese formato y no otro. ademas tiene que ser indice.
#2 Solo puedes unir date y time si son cadenas pero tienes que comprobar 
# que son cadenas transformables a datetime.Tira las que no lo sean.
#otros: CVS en mayuscula y enconding a 'latin1'

In [12]:


#cambia el primero a 00 para que sea cada 10 min como el de potencia...

df.at[1, 'datetime'] = '1.1.2018 00:00:00'

In [13]:

# Primero, asegúrate de que la columna 'datetime' sea de tipo datetime
df['datetime'] = pd.to_datetime(df['datetime'],dayfirst=True)

In [16]:

# Luego, define tus propios límites de tiempo para los grupos
# Por ejemplo, podrías crear intervalos de 10 minutos desde el mínimo hasta el máximo de 'datetime'
min_datetime = df['datetime'].min()
max_datetime = '20/04/2018 11:10'
bins = pd.date_range(start=min_datetime, end=max_datetime, freq='10Min')

# Utiliza pd.cut() para asignar cada fila a un intervalo de tiempo
df['intervalo'] = pd.cut(df['datetime'], bins=bins)

# Ahora puedes agrupar por el intervalo y calcular la media de 'TA1'
df_agrupado = df.groupby('intervalo').agg({'TA1': 'mean'}).reset_index()

In [17]:
df_agrupado.info()
df_agrupado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15763 entries, 0 to 15762
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   intervalo  15763 non-null  category
 1   TA1        12391 non-null  float64
dtypes: category(1), float64(1)
memory usage: 916.4 KB

                                        intervalo    TA1
0               (2018-01-01, 2018-01-01 00:10:00]  15.80
1      (2018-01-01 00:10:00, 2018-01-01 00:20:00]  15.70
2      (2018-01-01 00:20:00, 2018-01-01 00:30:00]  15.60
3      (2018-01-01 00:30:00, 2018-01-01 00:40:00]  15.50
4      (2018-01-01 00:40:00, 2018-01-01 00:50:00]  15.40
...                                           ...    ...
15758  (2018-04-20 10:20:00, 2018-04-20 10:30:00]  16.28
15759  (2018-04-20 10:30:00, 2018-04-20 10:40:00]  16.06
15760  (2018-04-20 10:40:00, 2018-04-20 10:50:00]  15.88
15761  (2018-04-20 10:50:00, 2018-04-20 11:00:00]  15.94
15762  (2018-04-20 11:00:00, 2018-04-20 11:10:00]  15.80

[15763 rows x 2 columns]

In [19]:
df_agrupado.to_csv('temperatura_intervalo.csv', index=False)